mat-card {
  max-width: 600px;
  margin: 1rem auto 2rem;
  padding: 2rem;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  padding: 0;
}

mat-card-content {
  padding: 0;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  max-width: 600px;
  margin: 2rem auto 0;
}
