header {
  max-width: 400px;
  margin: 12rem auto 0;
  text-align: center;
}

mat-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

.error {
  color: hsl(0, 100%, 62%);
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}
